{% extends 'base.html' %}

{% block content %}

<div class="text-center my-5">
    <h1 style="color: #F37C23;">About Us</h1>
    <hr>
</div>

<div class="card mb-5 border-0">
    <div class="card-body">
        <div class="card-text" style="color: #118799;">
            <p class="h4">MVMBlog is the official school blog of Maharishi Vidya Mandir Senior Secondary School, Chetpet, Chennai.
                The main purpose of this blog is to get the latest updates about school events, as well as various competitions. 
                <br><br>
                It is also a place for students to freely express their thoughts and feelings about various incidents that take place 
                to give moral support and encouragement.
                <br><br>
                It is also to be noted that all content has been gone through and posted, in order to ensure that the 
                feelings and sentiments of all communities are not hurt. In spite of this, if there are any contradictory 
                posts, please free to contact us <a href="#" style="color: #F29073;">here</a>.
                
            
            
            </p>
        </div>
    </div>
    
</div>


{% endblock %}


