{% extends 'base.html' %}

{% block content %}

<div class="text-center my-5">
    <h1 style="color: #F37C23;">Contact Us</h1>
    <hr>
</div>


<div class="row">
<div class="card mx-auto h3" style="width: 18rem;">
         <div class="card-body">
             <p>Nivritti</p>
             <p>XI A6</p>
             <p>abc@gmail.com</p>
         </div>
 </div>

 <div class="card mx-auto h3" style="width: 18rem;">
         <div class="card-body">
             <p>Bhishmma</p>
             <p>XI A4</p>
             <p>abc@gmail.com</p>
         </div>
</div>
</div>

{% endblock %}