{% extends 'base.html' %}
{% block content %}


<div class="text-center my-5">
  <h1 style="color: #F37C23;">Welcome to MVMBLog</h1>
  <hr>
</div>


<div class="row gx-5">
  {% for post in post_list %}
  <div class="col">
    <div class="card mb-5 shadow-sm" >
      <div class="card-body">
        <div class="card-title">
          <h2>{{post.title}}</h2>
          <p class="text-muted">By {{post.author}}</p>
        </div>
        <div class="card-text">
          <p>{{post.content|slice:":200"}}</p>
        </div>
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>


{% endblock %}