{% extends 'base.html' %}

{% block content %}

<div class="text-center my-5">
    <h1 style="color: #F37C23;">Want To Write For Us?</h1>
    <hr>
</div>

<div class="card mb-5 border-0">
    <div class="card-body">
        <div class="card-text" style="color: #118799;">
            <p class="h4">
                Want to write for us? Don't worry, we're not picky! Just reach out to us on our 
                <a href="{% url 'contact' %}" style="color: #F29073;">contact</a> page 
            </p>
            <br>

            <h4>Guidelines of MVMBLog: </h4>
            <ol class="h5" style="font-style: italic;">
                <li>Privacy of other must always be respected.</li>
                <li>No derogatory terms are to be used, regardless of whatever the circumstances may be</li>
                <li>Content written for the purpose of defamation against a particular person, group or community is liable to be removed, along with a ban on that particular user.</li>
                <li>All content must be submitted to the creators for review before it can be posted, in order to be avoid the aforementioned points.</li>
                <li>All content submitted must be authentic. Copyright infringement shall be looked upon seriously.</li>
                <li>All writers are accountable for the content they write. MVMBlog, under no circumstance, will take any responsibility for any damages caused.</li>
                <li>Writers must also take care that factual content must be verified and submitted at the time of review (Personal experiences are not included).</li>
            </ol>

        </div>
    </div>
</div>

{% endblock %}